<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
  <div class="container" data-aos="fade-up">

    <div class="owl-carousel clients-carousel">
      <img src='<%= asset_path("clients/client-1.png")%>' alt="">
      <img src='<%= asset_path("clients/client-2.png")%>' alt="">
      <img src='<%= asset_path("clients/client-3.png")%>' alt="">
      <img src='<%= asset_path("clients/client-4.png")%>' alt="">
      <img src='<%= asset_path("clients/client-5.png")%>' alt="">
      <img src='<%= asset_path("clients/client-6.png")%>' alt="">
      <img src='<%= asset_path("clients/client-7.png")%>' alt="">
      <img src='<%= asset_path("clients/client-8.png")%>' alt="">
    </div>
  </div>
</section><!-- End Clients Section -->