<%= render "carousel"%>
<main id="main">
	<%= render "why_us"%>
	<%= render "about_us"%>
	<%= render "clients"%>
	<%= render "services"%>
	<%= render "values"%>
	<%= render "testimonials"%>
	<%= render "portfollio"%>
	<%= render "team"%>
	<%= render "pricing"%>
	<%= render "contact_us"%>
</main>